@import "tailwindcss";

.font-montserrat {
  font-family: "Montserrat", sans-serif;
}

.font-poppins {
  font-family: "Poppins", sans-serif;
}

@theme {
  --color-primary-app: var(--primary-app);
}

@layer utilities {
  .clip-education-polygon {
    background: linear-gradient(
        38.73deg,
        rgba(204, 0, 187, 0.15) 0%,
        rgba(201, 32, 184, 0) 50%
      ),
      linear-gradient(
        141.27deg,
        rgba(0, 70, 209, 0) 50%,
        rgba(0, 70, 209, 0.15) 100%
      );
    width: 100%;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 30% 98%, 0 100%);
    background-color: var(--primary-app);
  }

  .clip-cetificate-polygon {
    background: linear-gradient(
      343.07deg,
      rgba(132, 59, 206, 0.06) 5.71%,
      rgba(132, 59, 206, 0) 64.83%
    );
    clip-path: polygon(0 0, 100% 0, 100% 100%, 100% 98%, 0 100%);
  }

  .clip-projects-polygon {
    background: linear-gradient(
      343.07deg,
      rgba(132, 59, 206, 0.06) 5.71%,
      rgba(132, 59, 206, 0) 64.83%
    );
    clip-path: polygon(0 0, 100% 0, 100% 100%, 100% 98%, 0 100%);
  }

  .clip-hero-polygon {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 70% 95%, 0 100%);
    background: #000;
  }

  .wrapper {
    background: linear-gradient(
      38.73deg,
      rgba(204, 0, 187, 0.15) 0%,
      rgba(201, 32, 184, 0) 50%
    ),
    linear-gradient(
      141.27deg,
      rgba(0, 70, 209, 0) 50%,
      rgba(0, 70, 209, 0.15) 100%
    );
  width: 100%;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 30% 98%, 0 100%);
  }

  .body {
    background-color: var(--primary-app);
    width: 100%;
    overflow-x: hidden;
  }

  @keyframes shine {
    0% {
      left: -75px;
    }
    100% {
      left: 125%;
    }
  }

  @keyframes shimmer {
    0% {
      background-position: 0% 50%;
    }
    100% {
      background-position: 100% 50%;
    }
  }

  .brilliant::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300%;
    height: 300%;
    transition: transform 0.5s;
    transform: translate(-50%, -50%) scale(0);
    z-index: -1;
  }

  .brilliant::after {
    content: "";
    position: absolute;
    top: 0;
    left: -75px;
    width: 50px;
    height: 100%;
    background: linear-gradient(
      120deg,
      transparent,
      rgba(255, 255, 255, 0.8),
      transparent
    );
    transform: skewX(-20deg);
    transition: left 0.5s;
    z-index: 1;
    animation: shine 1.5s infinite ease-in-out;
  }

  .brilliant {
    border: none;
    border-radius: 6px;
    background: linear-gradient(45deg, #fda72d, #ff9800);
    background-size: 200%;
    color: #000;
    position: relative;
    overflow: hidden;
    z-index: 0;
    animation: shimmer 4s infinite linear;
  }
}

:root {
  --primary-app: #fda72d;
}
